@using GroupProject.Models
@model GroupProject.Models.DetailsTodoViewModels

<div class="d-flex flex-column justify-content-center align-items-left">
    <div class="m-1 p-1">
        @Model.ToDo.ToDoID
    </div>
    <div class="m-1 p-1">

        @Model.ToDo.TaskTitle
    </div>
    <div class="m-1 p-1">

        @Model.ToDo.Description
    </div>
    <div class="m-1 p-1">
        @Model.ToDo.CreatorOfTask
    </div>
    <div class="m-1 p-1">

        @Model.ToDo.StartTime
    </div>
    <div class="m-1 p-1">

        @Model.ToDo.EndTime
    </div>
    <div class="m-1 p-1">

        @Model.Username
    </div>

</div>