@using GroupProject.Models
@model GroupProject.Models.ToDo

<div class="d-flex flex-column justify-content-center align-items-left">
    <div class="m-1 p-1">
        @Model.ToDoID
    </div>
    <div class="m-1 p-1">

        @Model.TaskTitle
    </div>
    <div class="m-1 p-1">

        @Model.Description
    </div>
    <div class="m-1 p-1">

        @Model.CreatorOfTask
    </div>
    <div class="m-1 p-1">

        @Model.StartTime
    </div>
    <div class="m-1 p-1">

        @Model.EndTime
    </div>
    <div class="m-1 p-1">

        @Model.UserId
    </div>

</div>