@using GroupProject.Models
@model UserViewModel


<div class="container">
    <div class="row position-relative">
        <div class="col-6 d-flex flex-column justify-content-center align-content-center p-3">

            @foreach (var t in Model.todos ?? Enumerable.Empty<ToDo>())
            {
                Time time = new Time(DateTime.Now, t.EndTime);
                var deltaT = time.Calculate();
                var colorForTimeDiff = "";

                @* @deltaT *@

                if (deltaT >= 12)
                {
                    colorForTimeDiff = "bg-success";
                }

                if (deltaT < 12)
                {
                    colorForTimeDiff = "bg-info";
                }

                if (deltaT <= 6)
                {
                    colorForTimeDiff = "bg-warning";
                }

                if (deltaT <= 2)
                {
                    colorForTimeDiff = "bg-danger";
                }

                <div class="d-row flex-row rounded-2 p-2 m-1 @colorForTimeDiff">
                    <div class="d-flex flex-row">
                        <div>
                            <h5>@t.TaskTitle</h5>
                            <h5>@t.Description</h5>
                            <h5>@t.CreatorOfTask</h5>

                            <h5>
                                @foreach (var u in Model.users ?? Enumerable.Empty<User>())
                                {
                                    if (@u.UserId == @t.UserId)
                                    {
                                        @u.Username
                                    }
                                }
                            </h5>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-right">
                            <a asp-action="EditToDo" asp-route-id="@t.ToDoID">
                                <i class="mw-100 hw-100 fa-solid fa-pencil"></i>
                            </a>

                            <a asp-action="DeleteToDo" asp-route-id="@t.ToDoID">
                                <i class="fa-solid fa-trash pointer-event"></i>
                            </a>

                            <a asp-action="DetailsTodo" asp-route-id="@t.ToDoID">
                                <i class="fal fa-info-circle"></i>
                            </a>
                        </div>
                    </div>
                    </div>
            }
        </div>


        <div class="col-4" style="position: fixed; right: 120px; top: 30%;">
            <form action="" method="post">

                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <input asp-for="TaskTitle" class="form-control">
                    <label asp-for="TaskTitle" class="form-label">Title</label>
                </div>

                <div class="form-group">
                    <input asp-for="Description" class="form-control">
                    <label asp-for="Description" class="form-label" for="">Description</label>
                </div>

                <div class="form-group">
                    <input asp-for="CreatorOfTask" value="pleb" class="form-control" hidden>
                    <label asp-for="CreatorOfTask" class="form-label" for="" hidden></label>
                </div>

                <select asp-for="UserId" name="UserID">
                    @foreach (var u in Model.users ?? Enumerable.Empty<User>())
                    {
                        <option value="@u.UserId">@u.Username </option>
                    }
                </select>

                @* @foreach (var p in Model.users ?? Enumerable.Empty<User>()) *@
                @* { *@
                @*     @p.Username <div>og id er </div> @p.UserId *@
                @* } *@

                <input type="datetime-local" value="DateTime.Now" asp-for="EndTime">


                <button type="submit">Submit</button>

            </form>
        </div>
    </div>
</div>